<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Perguntas</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1>Gerenciamento de Perguntas</h1>
        <div id="questions-list"></div>
        <a href="index.html" class="btn">Voltar ao Início</a>
    </div>

    <script src="./gerenciarPerguntas.js"></script>
</body>
</html>
