<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insira seu nome</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/acessar-jogador" method="get">
            <input type="text" id="nome-jogador" name="nome-jogador" placeholder="Nome de usuário" required>
            <input type="password" id="senha" name="senha" placeholder="senha" required>

            <button type="submit" class="btn">Entrar</button>
        </form>    
    </div>

    <div class="container">
        <h1>Crie uma conta</h1>
        <form action="/salvar-jogador" method="post">
            <input type="text" id="nome-jogador-novo" name="nome-jogador-novo" placeholder="Nome de usuário" required>
            <input type="password" id="senha-nova" name="senha-nova" placeholder="senha" required>

            <button type="submit" class="btn">Criar</button>
        </form>
        
    </div>
</body>
</html>
