<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insira seu nome</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1>Insira seu nome</h1>
        <form action="/salvar-jogador" method="POST">
            <input type="text" id="nome-jogador" name="nome-jogador" placeholder="Nome do jogador" required>
            <button type="submit" class="btn">Começar</button>
        </form>
    </div>
</body>
</html>
