<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - MySQL</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="score">Pontuação: 0</div>
    <div class="container"></div>
    <form id="pontuacao-form" action="/salvar-pontuacao" method="POST" style="display: none;">
        <input type="hidden" name="nome-jogador" id="nome-jogador-form">
        <input type="hidden" name="pontuacao" id="pontuacao-form">
    </form>
    <script src="script.js"></script>
</body>
<a href="gerenciarPerguntas.html">Gerenciar Perguntas</a>
</html>
